/*
 =========================================================
 * customize
 =========================================================
 */
body, h1, h2, h3, h4, h5, h6, .title {
    font-family: CamingoCode-Regular;
}


/* 选中背景色 */
::selection {
    background: var(--bgColor); 
    color: white;
}
::-moz-selection {
    background: var(--bgColor); 
    color: white;
}
::-webkit-selection {
    background: var(--bgColor); 
    color: white;
}

@media (max-width: 375px){
    .main-raised {
        margin-left: .0625rem;
        margin-right: .0625rem;
        margin-top: -15vh !important;
    }
    .post_title {
        font-size: 2rem;
    }
}

/* 导航栏 */
.navbar {
	padding: 0;
	background-color: transparent !important;
	box-shadow: 0 0 0 0 ;
}
.navbar {
    transition: all .5s ease 0s;
    color: var(--bgColor);
}
.navbar .navbar-toggler .navbar-toggler-icon {
    background-color: var(--bgColor);
}
.navbar:hover:not(.navbar-transparent) {
    background-color: var(--bgColor) !important;
    color: white;
}
.navbar:hover .navbar-toggler .navbar-toggler-icon {
    background-color: white;
}
.navbar a {
    font-size: 1rem !important;
}
.navbar ion-icon {
    font-size: 1.875rem;
}
.navbar:not(.navbar-transparent) a:not(.navbar-brand):hover:after {
    content: "";
    width: 100%;
    height: .3125rem;
    position: absolute;
    left: 0;
    bottom: 0rem;
    background-color: #ffffff;
}
.navbar .navbar-nav .nav-item .nav-link:not([rel]){
    padding-top: 1.25rem; 
    padding-bottom: 1.25rem; 
}
.navbar-brand {
    top: -0.9375rem;
}
.navbar-brand ion-icon {
    font-size: 3.75rem;
}




/* 主要布局 */

.main {
    z-index: 1;
}
.main-raised {
	box-shadow: 0 0 0 0 ;
    margin-top: -15vh;
}

.nav-link {
	box-shadow: 0 0 0 0 !important;
    text-transform: capitalize !important;
}


/* 链接 */
a {
    color: var(--bgColor);
    border-radius: .1875rem !important;
}
a:hover:not(.navbar-brand):not(.post_banner_img):not(.index-post-img),
a:focus:not(.navbar-brand):not(.post_banner_img):not(.index-post-img) {
    background-color: var(--bgColor) !important;
    color: white;
    text-decoration: none;
}

ion-icon {
    vertical-align: middle;
}
.btn-just-icon ion-icon {
    padding-bottom: .3125rem;
}

.btn {
	box-shadow: 0 0 0 0 ;
}
.btn:focus, .btn:active, .btn:hover, .btn.btn-default:focus, .btn.btn-default:active, .btn.btn-default:hover{
	box-shadow: 0 0 0 0 ;
    background-color: var(--bgColor);
    color: white !important;
}

.type-description:after {
    content: "|";
}
 
/* /////////////////////////////////////////// index */

.index-card{
    margin-top: 2rem;
    word-break: break-all;
}
.index-card {
    padding: 1.25rem 1rem;
    border-radius: .375rem;
}
.index-card:hover {
	box-shadow: 0rem 0rem 2rem var(--bgColor);
	transition: 0.3s;
}

.index-post-img{
    display:block; 
    width: 100%;
    height: 0;
    padding-top: 33%;
    background-position: center center;
    background-size:cover;
    border-radius: .375rem;
    box-shadow: 0rem 0rem 0rem;
}

.post_index_image_container{
  width: 100%;
}



/* //////////////////////////////////// archive */

/* archive categories */
.nav-pills.nav-pills-rose .nav-item .nav-link.active, .nav-pills.nav-pills-rose .nav-item .nav-link.active:focus, .nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
    background-color: var(--bgColor);
}
.nav-pills .nav-item .nav-link {
  font-size: 1rem;
}

.card {
  box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
}


