[submodule "themes/next"]
	path = themes/next
	url = https://github.com/theme-next/hexo-theme-next.git
[submodule "themes/Hexo-Material-N"]
	path = themes/Hexo-Material-N
	url = https://github.com/NieLamu/Hexo-Material-N.git
[submodule "subRepos/2019-04-16-Awesome-GitHub-Repos"]
	path = subRepos/2019-04-16-Awesome-GitHub-Repos
	url = https://github.com/NieLamu/awesome-GitHub-Repos.git
